body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.gallery {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 20px;
padding: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1); /* Zoom effetto durante il passaggio del mouse */

}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px darkgrey;
}

footer {
    background-color: #3a3a3a;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.mappa{
    text-align: center;
}

.download{
    text-align: center;
}

.download-btn {
display: inline-block;
padding: 12px 20px;
background-color: rgb(0, 38, 255); 
color: white;
text-decoration: none;
border-radius: 10px;
font-size: 18px;
font-weight: bold;
transition: background 0.3s ease;
}

.download-btn:hover {
    background-color: #218838;
}
.descrizione{
    margin: 1px;
    padding: 20px;
    background-color: #3a3a3a;
    color: white;
    border-radius: 8px;
}
.meteo{
    text-align: center;
    background-color: #3a3a3a;
    display: inline-block;
    border-radius: 8px;
    color: white;
}
.meteo-container{
    padding-top: 20px;
    text-align: center;
}
div{
    margin-bottom: 10px;
}